//font family
$font-family-primary: 'Lato', sans-serif;
$font-family-secondary: 'Radley', serif;

//color
$color-primary: #A2171C;
$color-secondary: #484848;
$color-third: #CC2F35;
$color-gray: #333333;
$color-four:#B1B1B1;
$color-five: #000000;
$color-bg-job: #F8F8F8;
$color-six:#BDBDBD;
$color-btn-refesh: #828282;
$color-light-gray: #EEEEEE;
$color-dark-gray: #DCDCDC;
$color-light-form: #E5E5E5;

//font weight
$font-weight-light: 300;
$font-weigh-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;
//screen device
$small-mobile: "screen and (max-width: 375.98px)";
$mobile: "screen and (max-width: 575.98px)";
$tablet: "screen and (max-width: 767.98px)";
$moblet: "screen and (max-width: 991.98px)";
$desktop: "screen and (max-width: 1199.98px)";
$large-desktop: "screen and (max-width: 1399.98px)";
